/*
	Shimmer Loading @ Skuy Dev
*/
.shimmer{
	padding: 3px;
	margin-bottom: 10%;
}
.shimmer-on-10{
	width: 100%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-9{
	width: 90%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-8{
	width: 80%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-7{
	width: 70%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-6{
	width: 60%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-5{
	width: 50%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-4{
	width: 40%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-3{
	width: 30%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-2{
	width: 20%;
	padding: 10px;
	background: #e6e8ed
}
.shimmer-on-1{
	width: 10%;
	padding: 10px;
	background: #e6e8ed
}
.hg-10{
	height: 100px
}
.hg-9{
	height: 90px
}
.hg-8{
	height: 80px
}
.hg-7{
	height: 70px
}
.hg-6{
	height: 60px
}
.hg-5{
	height: 50px
}
.hg-4{
	height: 40px
}
.hg-3{
	height: 30px
}
.hg-2{
	height: 20px
}
.hg-1{
	height: 10px
}
.hg-05{
	height: 1px
}
.circle{
	border-radius: 50%
}
.top_down{
	margin-bottom: 3%
}
.top{
	margin-top: 3%
}
.on {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
	
	background: #f6f7f9;
	background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    position: relative;
}
@keyframes placeHolderShimmer{
	0% {
	    background-position: -468px 0;
	}
	100% {
	    background-position: 468px 0;
	}
}